h1,
h3 {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 0;
  margin-top: 0;
}
h1 {
  font-size: 100px;
}
td {
  width: 75px;
  height: 75px;
  border: 1px solid rgb(185, 185, 185);
}

.spielfeld {
  width: 750px;
  height: 750px;
}
.center {
  margin-right: auto;
  margin-left: auto;
}
body {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
input {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid black;
}
div span {
  margin: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.playerconf {
  margin: 30px;
}

button {
  margin: 5px;
  width: 150px;
  height: 56px;
  border-radius: 5px;
  border: 2px solid black;
}

#arrow {
  font-size: 30px;
}
.spielverlauf {
  border-radius: 5px;
  border: 5px lightgrey solid;
  position: fixed;
  background-color: white;
  height: 500px;
  width: 20%;
  top: 20%;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: lightpink grey;
}
.unterpunkt {
  font-family: "Roboto Mono", monospace;
  margin: 5px;
  background-color: lightgrey;
}
.togglecontainer {
  position: fixed;
  right: 0;
  bottom: 0;
}
.togglecontainer p {
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  margin: 0;
}
.togglecontainer input {
  display: inline;
}
