td {
  width: 75px;
  height: 75px;
  border: 1px solid rgb(185, 185, 185);
}

.spielfeld {
  width: 750px;
  height: 750px;
}
.center {
  margin-right: auto;
  margin-left: auto;
}
body {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
input{

  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid black;
}
div span{
  
  margin: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.playerconf{

  margin: 30px ;
}

button{
  margin: 5px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid black;
}

#arrow {

  font-size: 30px;
}